html, body {
	padding: 0;
	margin: 0;
	border: 0;
}
html {
	height: 100%;
}
body {
	min-height: 100%;
	background: url(images/question-mark.jpg) no-repeat center center fixed;
	background-size: cover;
}
p {
	font-size: 12px;
}
h1 {
	font: bold 120px/.25 'Helvetica Neue', sans-serif ;
	color: #3D9970;
	text-align: center;
}
.inner-box {
	background-color: #fefefa;
	height: 400px;
	width: 300px;
	margin: 5% auto 10% auto;
	z-index: 1;
	border: 2px solid #3D9970;
	border-radius: 25px;
	padding: 20px;
	font: 16px 'Helvetica Neue', sans-serif;
}
form {
	text-align: center;
	padding-top: 60px;
}
input[type="text"] {
	width: 60px;
	margin-top: 15px;
	margin-bottom: 10px;
	text-align: center;
	border: 1px solid #3D9970;
	box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 5px;
	padding: 5px;
}
.button {
	border: none;
	padding: 8px 15px 8px 15px;
	background: #ff8500;
	color: #fff;
	box-shadow: 1px 1px 4px #dadada;
	border-radius: 5px;
	width: 90px;
	height: 30px;
	font-size: 80%;
}
input[value="Guess"] {
	background: #3D9970;
}
#hint-button {
	width: 130px;
	background: #3D9970;
}
#button {
	width: 130px;
	background: #3D9970;
}
form p {
	padding-top: 10px;
	padding-bottom: 10px;
}
.win-text {
	color: #3D9970;
	font-size: 40px;
}
.lose-text {
	color: red;
	font-size: 40px;
}
.win-background {
	background: url(images/winBackground.png) no-repeat center center fixed;
}
.lose-background {
	background: url(images/loseBackground.jpg) no-repeat center center fixed;
}